.card__list {
  display: grid;
  margin: 20px auto 0px auto;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 413px);
  grid-gap: 40px 20px;
  justify-self: center;
  border-bottom: 1px solid #21212166;
  padding-bottom: 40px;
}

.card {
  max-width: 413px;
}

.card__item {
  list-style: none;
  position: relative;
}

.card__item-delete-button {
  background: url(../images/delete_button.svg) center no-repeat;
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
/* Im unsure why the button is not changing color but I tried. Could you lead me in the right direction */
.card__item-delete-button:hover {
  background: url(../images/delete_button_hover.svg) center no-repeat;
  color: #ff6565;
}

.card__item-image {
  width: 413px;
  height: 413px;
  border-radius: 8px;
}

.card__item-info {
  max-width: 413px;
  display: flex;
}

.card__item-title {
  margin: 0;
  padding-top: 12px;
  max-width: 353px;
  color: #212121;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__item-button {
  background: url(../images/like_button.svg) center no-repeat;
  border: none;
  cursor: pointer;
  align-self: center;
  height: 20px;
  width: 23px;
  margin-top: 12px;
  margin-left: auto;
  opacity: 40%;
}

.card__item-button_active {
  background: url(../images/liked_button.svg) center no-repeat;
}

.card__item-button:hover {
  opacity: 100%;
}

@media screen and (max-width: 627px) {
  .card__list {
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, 288px);
    grid-gap: 20px 20px;
    padding-bottom: 20px;
  }
  .card__item {
    max-width: 288px;
  }
  .card__item-image {
    width: 288px;
    height: 288px;
  }
  .card__item-info {
    max-width: 288px;
  }
  .card__item-title {
    max-width: 250px;
    font-size: 16px;
    line-height: 1;
  }
  .card__item-button {
    height: 18px;
    width: 20px;
    margin-right: 8px;
  }
}
