.menubar {
    width: 100%;
    height: 46px;
    display: flex;
    background: #ffffff;
  }

  .menubar__logo {
    color: #212112;
    width: 94px;
    height: 26px;
    margin: 0 auto;
    padding-top: 10px;
  }
  
  @media screen and (max-width: 450px) {
    .menubar {
      height: 46px;
      display: flex;
      background: #ffffff;
    }
  }