.page{
    width:100%;
    background: #FCF5E5;

}
.menubar{
    width: 100%;
    height:46px;
    display:flex;
    background: #ffffff;
}
.menubar__logo{
    color: #212112;
    width: 94px;
    height: 26px;
    margin: 0 auto;
    padding-top: 10px;
}
.header{
   padding-top: 34px;
    margin-left: 80px;
    margin-right: 80px;
    max-width: 1280px;
    max-height: 210px;
    text-overflow: ellipsis;

}   
.header__profile{
    display: flex;
    max-height: 210px;
    font-family: 'Poppins', sans-serif;
    color: #212121;

}
.header__profile-avatar{
    height: 190px;
    width: 190px;
    margin-right: 20px;
    border-radius: 8px;

}   
.header__profile-info{
    max-width: 420px;
    height: 190px;
    display: flex;
    flex-direction: column;

}
.header__title{
    font-weight: 500;
    line-height: 1.0;
    font-size: 32px;
    margin:0;

}
.header__subheading{
    opacity: 70%;
    font-weight: 500;  
    line-height: 1.0;   
    font-size: 16px;    
    padding-top: 12px;
    margin: 0;

}
.header__edit-button{
    margin-top: auto;
    border: none;
    background: none;
    align-self: flex-start;
    font-family: 'Poppins', sans-serif;
    font-size:16px;
    line-height: 1.0;
    color: #212112; 
    opacity: 70%; 
    padding: 0;
}
.header__add-button{
    border-image: none;
    border: none;
    background: none;
    align-self: flex-end   ;
    margin-left: auto;
}
.horizontal-line{
      border: 1px solid #545454;
margin-top: 20px;
opacity: 40%;
}
.grid{
  /*  max-width: 1280px;
    margin-left: 80px;
    margin-right: 80px;*/
    max-width:1280px;
    display: grid;
    margin-top: 20px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 413px);
  grid-gap: 40px 20px;
  justify-self: center;
  /* padding: 0px 80px; */
}


.grid__item{
    height: 445px;
    width: 413px;

}
.grid__item-image{
    width: 413px;
    height: 413px;
    border-radius: 8px;

}
.grid__item-info{
height: 32px;
width: 413px;
display: flex;

}
.grid__item-title{
    margin: 0;
    padding-top: 12px;
}
.grid__item-button{
    background: none;
    border: none;
    color: #212121;
    align-self: center;
    height: 20px;
    width: 23px;
    padding-top: 12px;
    margin-left: auto;

}
.footer{
    display: flex;
    justify-items: center;
    }
.footer__text{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.0;
    color: #212112;
    opacity: 70%;
    align-self: center;
}
